@charset "ISO-8859-1";

body{
	
	text-align: center;
	 background-image: linear-gradient(-90deg, #005AA7,#FFFDE4);
}
img{
	width: 250px;
	height:130px;
	float: right;
	margin-right:70px;
}
h1{
	
	width: 60%;

	font-weight: bold; 

	text-align:center;
	background-image: #ffffff00;
	color: #1e3038;
	font-size: 100px;
	font-family: 'Song Myung', serif;
	text-shadow: 5px 5px #364167;
}

div.center {
  margin: auto;
  width: 50%;
  border: 3px solid black ;
  padding: 10px;
  display:block;
}

input[type="text"]

{

	width: 50%;
	
	

	box-sizing: border-box;

	text-align: left;

	color: #364167;
	border-radius:5px;

}

input[type="submit"]
{

	background-color: #1f3139;

	border: none;

	color: white;
	width: 40%;
	padding: 16px 32px;
	
	margin-left:150px;

	border-radius:5px;

}
form
{	width: 20%;
	
	padding: 12px 12px;

	margin: 8px 50px;
	
	font-size: 30px;
	color: #1e3038 ;
	font-family: 'Aclonica', sans-serif;
	font-weight: bold;
	
}